body{
  font-family: 'PT Sans';
}


.slide {
    margin:2% auto;



    line-height: 300px;
    font-size: 50px;
    text-align: center;




}


#box1 {
    background-color: #fff;

}

#box2 {
    background-color: #fff;

}

#box3 {
    background-color: #fff;


}

.titlebar {
  margin-top:30px;
  width:50%;
  min-height:60px !important;
  vertical-align:text-bottom;
  border-bottom:1px #282828;

}
.title{


  margin:auto;

}

button.remodel{




  text-align:center;



}





.invisible{

  display:none;

}

.l-header-h {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 96%;
  max-width: 1200px;
}

.w-logo {
  clear: both;
  height: 100%;
  position: relative;
}






.option {

    border-radius: 5px;


    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    text-align: center;


    text-decoration: none;
}
.option:hover {
    background-color: #f1f1f1 !important;
}

span {
    position: relative;
    z-index: 1;
    line-height: 23px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
}
.option:hover span {
    color: #5a5a5a;
}
.btnBefore, .btnAfter {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: solid #34495e;
    border-width: 0;
    border-radius: 0;
    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: #34495e;
    border-radius: 5px;
}
    .option .btnBefore {
    right: 0;
    bottom: 0;
}
.option .btnAfter {
    left: 0;
    top: 0;
}
.option:hover .btnBefore {
    border-width: 0 0 1px 1px;
}
.option:hover .btnAfter {
    border-width: 1px 1px 0 0;
}

.option:hover .btnAfter, .option:hover .btnBefore {
height: 100%;
width: 100%;
transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
}

#circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.sliders{
	background-color: #fff;
}

.employersavings{
	height: 300px;
	width: 300px;
	padding: 40px;

	color: #fff;
	background-color: #A9A9A9;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;

}
.lead{
	margin-top: 40px;
}
.employeesavings{
	height: 300px;
	width: 300px;
	padding: 40px;

	color: #fff;
	background-color: #A9A9A9;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;

}
.totalsavings{
	height: 300px;
	width: 300px;
	padding: 40px;

	color: #fff;
	background-color: #66CDAA;
-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;

}
.premiumtax{
	color: #000;



}
.price-box {
	margin: 0 auto;
	background: #E9E9E9;
	border-radius: 80px;
	padding: 40px 15px;
	width: 500px;
}

.ui-widget-content {
	border: 1px solid #bdc3c7;
	background: #e1e1e1;
	color: #222222;
	margin-top: 4px;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 2.2em;
	height: 2.2em;
	cursor: default;
	margin: 0 -15px auto !important;
	text-align: center;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 15px;
}



.ui-corner-all {
	border-radius: 60px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: 0em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
	border: 1px solid #f9f9f9;
	background: #66CDAA;
}

.ui-slider-horizontal .ui-slider-handle {
	margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
	cursor: pointer;
}

.ui-slider a,
.ui-slider a:focus {
	cursor: pointer;
	outline: none;
}

.price, .lead p {
	font-weight: 600;
	font-size: 32px;
	display: inline-block;
	line-height: 60px;
}

h4.great {
	background: #00ac98;
	margin: 0 0 25px -60px;
	padding: 7px 15px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	display: inline-block;
	-moz-box-shadow:    2px 4px 5px 0 #ccc;
  	-webkit-box-shadow: 2px 4px 5px 0 #ccc;
  	box-shadow:         2px 4px 5px 0 #ccc;
}

.total {
	border-bottom: 1px solid #7f8c8d;
	/*display: inline;
	padding: 10px 5px;*/
	position: relative;
	padding-bottom: 20px;
}

.total:before {
	content: "";
	display: inline;
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
	height: 3px;
	background: #7f8c8d;
	opacity: 0.5;
}

.price-slider {
	margin-bottom: 70px;
}

.price-slider span {
	font-weight: 200;
	display: inline-block;
	color: #7f8c8d;
	font-size: 13px;
}

.form-pricing {
	margin: 10px auto;
	padding: 10px;
	border-radius: 5px 5px 5px;

}
.form-pricing-slider {

	padding: 20px;
	border-radius: 5px 5px 5px;
	background-color: #F5F5F5;
}

.price-form {

	margin-bottom: 10px;
	padding: 20px;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	/*-moz-box-shadow:    0 5px 5px 0 #ccc;
  	-webkit-box-shadow: 0 5px 5px 0 #ccc;
  	box-shadow:         0 5px 5px 0 #ccc;*/
}

.form-group {
	margin-bottom: 0;
}

.form-group span.price {
	font-weight: 200;
	display: inline-block;
	color: #7f8c8d;
	font-size: 14px;
}

.help-text {
	display: block;
	margin-top: 32px;
	margin-bottom: 10px;
	color: #737373;
	position: absolute;
	/*margin-left: 20px;*/
	font-weight: 200;
	text-align: right;
	width: 188px;
}

.price-form label {
	font-weight: 200;
	font-size: 21px;
}

img.payment {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.ui-slider-range-min {
	background: #66CDAA;
}

/* HR */

hr.style {
	margin-top: 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}



/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    /*margin-right:-4px;*/
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}
