body{
  font-family: 'PT Sans';
}


.slide {
    margin:2% auto;



    line-height: 300px;
    font-size: 50px;
    text-align: center;




}


#box1 {
    background-color: #fff;

}

#box2 {
    background-color: #fff;

}

#box3 {
    background-color: #fff;


}

.titlebar {
  margin-top:30px;
  width:50%;
  min-height:60px !important;
  vertical-align:text-bottom;
  border-bottom:1px #282828;

}
.title{


  margin:auto;

}

button.remodel{




  text-align:center;



}





.invisible{

  display:none;

}

.l-header-h {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 96%;
  max-width: 1200px;
}

.w-logo {
  clear: both;
  height: 100%;
  position: relative;
}






.option {

    border-radius: 5px;


    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    text-align: center;


    text-decoration: none;
}
.option:hover {
    background-color: #f1f1f1 !important;
}

span {
    position: relative;
    z-index: 1;
    line-height: 23px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
}
.option:hover span {
    color: #5a5a5a;
}
.btnBefore, .btnAfter {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: solid #34495e;
    border-width: 0;
    border-radius: 0;
    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: #34495e;
    border-radius: 5px;
}
    .option .btnBefore {
    right: 0;
    bottom: 0;
}
.option .btnAfter {
    left: 0;
    top: 0;
}
.option:hover .btnBefore {
    border-width: 0 0 1px 1px;
}
.option:hover .btnAfter {
    border-width: 1px 1px 0 0;
}

.option:hover .btnAfter, .option:hover .btnBefore {
height: 100%;
width: 100%;
transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
}
