  <body>
    <div style="margin-top:10px;" class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-3">
        <h5 style="width:80%;height:40px;"class="remodelGray">Proposal Preview</h5>

      </div>
      <div class="col-md-4">
        <div style="display:inline-block;" class="panel-body">


          <p style="display:inline-block;background-color:rgb(69,188,155);color:#fff;">
            1
          </p>
        </div>
        <div style="display:inline-block;" class="panel-body">


          <p style="display:inline-block;background-color:rgb(69,188,155);color:#fff;">
            2
          </p>
        </div>
        <div style="display:inline-block;" class="panel-body">


          <p style="display:inline-block;background-color:rgb(69,188,155);color:#fff;">
            3
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <a id="slide2" class="btn btn-lg btn-inverse">Next</a>

      </div>

    </div>

      <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
          <table style="width:80%;" class="table table-list-search remodelGray">

                    <thead>

                          <p class="remodelGreen" style="text-align:left;">
                            Report Review
                          </p>

                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Premium</b></td>
                            <td id="reportPremium"></td>
                        </tr>
                        <tr>
                          <td><b>Subsidy</b></td>
                          <td id="reportSubsidy"></td>
                        </tr>
                        <tr>
                          <td><b>Consulting Fee</b></td>
                          <td id="reportConsulting"></td>
                        </tr>


                        </tr>

                    </tbody>
                </table>
        </div>
        <div class="col-md-4">
          <canvas id="reportReviewChart">

          </canvas>
        </div>
      </div>
      <div class="row remodelGray">
        <div class="col-md-4">
          <div style="width:80%;margin:auto;" class="panel panel-default">
            <div  class="panel-heading">
              Current Plan
            </div>
            <div class="panel-body">

            </div>
          </div>

        </div>
        <div class="col-md-4">

          <div style="width:80%;margin:auto;" class="panel panel-default">
            <div style="background-color:#3d4550;color:#fff;" class="panel-heading">
              Target Plan
            </div>
            <div class="panel-body">

            </div>
          </div>

        </div>
        <div class="col-md-4">

          <div style="width:80%;margin:auto;" class="panel panel-default">
            <div style="background-color:#fff;color:#3d4550;" class="panel-heading">
              Employees
            </div>
            <div class="panel-body">

            </div>
          </div>

        </div>
      </div>
    </body>
