


  <div style="margin-top:10px;" class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
      <a id="back1" class="btn btn-lg btn-inverse"><span class="fui-triangle-left-large"></span> Previous</a>

    </div>
    <div class="col-md-4">
    </div>

    <div class="col-md-3">
      <a id="slide3" class="btn btn-lg btn-inverse">Next <span class="fui-triangle-right-large"></span></a>

    </div>

  </div>

    <div class="row">

      <div class="col-md-2">
        <h6 class="remodelGreen demo-panel-title">Remodel Plan Framework</h6>
        <label class="checkbox" for="checkbox1">
          <input type="checkbox"  value="" id="checkbox1" data-toggle="checkbox" class="custom-checkbox">                    <span class="icons">
                      <span class="icon-unchecked">
                      </span>
                      <span class="icon-checked">
                      </span>
                    </span>
                    Salary Up
                  </label>
                  <label class="checkbox" for="checkbox2">
                    <input type="checkbox"  value="" id="checkbox2" data-toggle="checkbox" class="custom-checkbox">                    <span class="icons">
                        <span class="icon-unchecked">
                        </span>
                        <span class="icon-checked">
                        </span>
                      </span>
                      HSA
                  </label>
                  <label class="checkbox" for="checkbox3">
                    <input type="checkbox"  value="" id="checkbox3" data-toggle="checkbox" class="custom-checkbox">                    <span class="icons">
                        <span class="icon-unchecked">
                        </span>
                        <span class="icon-checked">
                        </span>
                      </span>
                      Teledoc
                  </label>
                  <h6 id="employeeSavings"></h6>
                  <p class="remodelGray">
                    Employer Savings
                  </p>
                  <h6 id="employerSavings"></h6>
                  <p class="remodelGray">
                    Employee Savings
                  </p>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-6">
        <div id="salaryUp">

        </div>
        <div id="hsa">

        </div>
        <div id="teledoc">

        </div>
      </div>
    </div>
