


  <div style="margin-top:10px;" class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-4">
    </div>

    <div class="col-md-3">
      <a id="slide3" class="btn btn-lg btn-inverse">Next <span class="fui-triangle-right-large"></span></a>

    </div>

  </div>

    <div class="row">

      <div class="col-md-2">
        <h6 class="remodelGreen demo-panel-title">Remodel Plan Framework</h6>
        <div id="reviewChart">
          <canvas id="reportReviewChart">
          </canvas>
        </div>



                  <h6 id="employeeSavings"></h6>
                  <p class="remodelGray">
                    Employer Savings
                  </p>
                  <h6 id="employerSavings"></h6>
                  <p class="remodelGray">
                    Employee Savings
                  </p>
      </div>
       <div class="col-md-2">

       </div>
      <div class="col-md-8">
        <div style='width:100%;overflow-y: scroll !important;height:480px;'>
  	     <table id="employees" style="width:100%;" class="table table-list-search remodelGray">
            <thead>
                <th>

                </th>
                  <th>
                    HSA
                  </th>
                  <th>
                    Employee Group Cost
                  </th>
                  <th>
                    Individual Premium
                  </th>
                  <th>
                    Subsidy
                  </th>
                  <th>
                    Salary Up
                  </th>
                  <th>

                  </th>
                </thead>
              <tbody id="empBody">

              </tbody>

              </table>
     </div>
      </div>


      </div>
    </div>
